*, *:before, *:after {
  box-sizing: border-box;

}
.container {
  position:relative;
  width: 360px;
  height: 56px;
  left: 0px;
  top: -3px;
  background: #4A4583;

}

.arrow {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 16px;
  top: 18px;
}
.content{
  position: absolute;
  width: 180px;
  height: 24px;
  left: 47px;
  top: 18px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #FFFFFF;

}

.search {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 300px;
  top: 18px;
}

.more {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 325px;
  top: 18px;

}

body {
    font-family: Roboto;
    max-width: 360px;
    margin: 0 auto;
}

.stops-list {
  display: flex;
  width: 375;
  border-bottom: 1px solid #DADADA;
  height: 60px;
  margin-bottom: 8PX;
  font-size: 15px;

}

.refresh {
  width: 18px;
  margin-left: 20px;
  align-items: right;
  padding:10px 0 0 30px;
}

.stop-info {
  display: flex;
  align-items: left;
  text-align: left;
  font-weight: medium;
  color: #000000;
  height: 36px;
  width: 75%;
  flex-direction: column;
  margin-top:13px;
  margin-left: -80px;
}

.min {
  font-size: 15px;
  padding-bottom: 0%;
  margin-top: 0px;
  align-items: baseline;
  color: #ffffff;
  background-color: #83D48B;
  border-radius: 10px;
}

.Route {
  align-items: center;
  text-align: left;
  font-weight: medium;
  color: #000000;
  width:88px;
  margin: 9px 0 8px 0;
  height: 15px;
}

.destination  {
  display: inline-block;
  text-align: left;
  font-weight: medium;
  color: #000000;
  margin:  9px 35px 8px 0;
  position: relative;
  height:15px;
}

.resume-service {
  font-size: 12px;
  display: flex;
  font-weight: medium;
  color: #ffffff;
  width: 25%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  height: 36px;
  margin-top: 10px;
  background-color: grey;
  border-radius: 10px;
}

.resume-time{
  font-size: 12px;
  padding-bottom: 8%;
  margin-top:0px;
}

.hrs{
  font-size: 12px;
  margin-top: -8px;
}

.time {
  display: inline-block;
  align-items: center;
  text-align: right;
  font-weight: bold;
  color: #000000;
  Width: 88px;
  margin: 9px 5px 8px 15px;
  height: 12px;
  float: right;
}

.eta {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: medium;
  color: #ffffff;
  width: 25%;
  vertical-align: text-bottom;
  margin-bottom: 1%;
  height: 36px;
  position: relative;
  margin-top: 10px;
  background-color: #83D48B;
  border-radius: 10px;
}
.Reroute-info{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: medium;
  color: #ffffff;
  width: 25%;
  vertical-align: text-bottom;
  margin-bottom: 1%;
  height: 36px;
  position: relative;
  margin-top: 10px;
  background-color: #FFAA04;
  border-radius: 10px;
}

 .busnumber {
   font-size: 20px;
   display: flex;
   align-items: left;
   text-align: left;
   font-weight: medium;
   color: #000000;
   width: 45%;
   align-items: flex-start;
   position: relative;
   height: 36px;
   margin-top: 15px;
   margin-left: 12px;
 }
